.table-row-cell .table-cell {
    -fx-border-width: 0px;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
.table-row-cell:contains-selection {
    -fx-background: palegreen ;
}
.table-column {
  -fx-alignment: CENTER;
}
#rowHeading {
  -fx-alignment: CENTER_LEFT;
}
.opace.table-cell {
  -fx-opacity:0.7;
}
.center-left.table-cell { 
  -fx-alignment: CENTER_LEFT;
}
.bold-font.table-cell { 
  -fx-font-weight: bold;
}