.text-input, .text-input:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
}

#status-label {
	  -fx-font-weight: bold;
	  -fx-alignment: center;
}

.table-row-cell .table-cell {
    -fx-border-width: 0.0px;
}

.needs-payment {
    -fx-background-color: rgba(255,127,80,0.5);
}

.all-payed {
   -fx-background-color: rgba(50,205,50,0.5);
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0.0px;
}
.table-row-cell:contains-selection {
    -fx-background: gold ;
    -fx-opacity: 1 !important;
    
}
.table-row-cell:selected .table-cell:selected {
    -fx-background-color: gold;
    -fx-text-fill: black;
}
.table-column {
  -fx-alignment: CENTER;
}
#rowHeading {
  -fx-alignment: CENTER_LEFT;
}
.check-in { 
  -fx-background-color: darkorange;
}
.source-background-airbnb {
	-fx-background-color:  rgba(255.0,90.0,95.0,0.3);
}
.source-background-booking {
	-fx-background-color: rgba(8.0,152.0,255.0,0.3);
}
.source-background-other {
	-fx-background-color: rgba(214.0,214.0,214.0,0.3);
}
.occupancy-low.table-cell {
	-fx-background-color: coral;
	-fx-opacity: 0.5;
}
.occupancy-medium.table-cell {
	-fx-background-color: orange;
	-fx-opacity: 0.5;
}
.occupancy-high.table-cell {
	-fx-background-color: limegreen;
	-fx-opacity: 0.5;
}
.occupancy-default.table-cell {
	-fx-opacity: 0.5;
}
.warning-box-middle {
	-fx-border-width: 0 2 0 2;
	-fx-border-color: red;
	-fx-border-style: solid;
}

.warning-box-top {
	-fx-border-width: 2 2 0 2;
	-fx-border-color: red;
	-fx-border-style: solid;
}

.warning-box-bottom {
	-fx-border-width: 0 2 2 2;
	-fx-border-color: red;
	-fx-border-style: solid;
}

.warning-text {
	-fx-text-fill: deeppink;
}

.cleaning-warning {
	-fx-background-color: red;
}
.cleaning {
	-fx-background-color: khaki;
}
.entry-stay {
	-fx-opacity:0.75;
}
.table-row-cell.now {
	-fx-background-color: gold;
	-fx-font-weight: bold;
	-fx-opacity: 1  !important;
}
.table-row-cell.end-of-month {
	-fx-background-color: darkgray;
	-fx-opacity: 1  !important;
}
