.first-day {
	-fx-background-color: coral;
	 -fx-padding: 10;
}

.second-day {
	-fx-background-color: sandybrown;
	 -fx-padding: 10;
}
.later {
	-fx-background-color: wheat;
	 -fx-padding: 10;
}

.guest-message {
	  -fx-font-style: italic;
}
.emphasis{
	  -fx-font-weight: bold;
}