<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.github.drbookings"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://com.github.drbookings.ui.app/com.github.drbookings.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.github.drbookings.ui.app/css/default.css">
         </property>
         <property
               name="appName"
               value="com.github.drbookings">
         </property>
      </product>
   </extension>

</plugin>
